/*
 * You should write your CSS in this file.  Don't forget to add your name and
 * @oregonstate.edu email address below.
 *
 * name: Ryan Stachura
 * email: stachurr@oregonstate.edu
 */
* {
    margin: 0px;
    font-family: Roboto;
}

a.result-title {
    color: #ff6c47;
    text-decoration: none;
    display: inline-block;
    padding-top: 20px;
}

a.result-title:hover {
    text-decoration: underline;
}

.result {
    display: inline;
    float: left;
    padding:10px;
}

.result-contents {
    padding: 10px;
    width: 300px;
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.result-image-container img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.result-price {
    background-color: #eee;
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 2px;
    font-size: 10pt;
}

#sell-something-button {
    display: block;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-color: #cc8400;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    color: white;
    font-size: 20pt;
}

#sell-something-button:hover {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    right: 25px;
    bottom: 25px;
    font-size: 25pt;
    cursor: pointer;
}

#filter-update-button {
    width: 90%;
    height: 45px;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: lighter;
    background: black;
    display: inline-block;
    position: relative;
    margin: 10px;
}

#filter-update-button:hover {
    background: pink;
    color: black;
    cursor: pointer;
}

.filter-fieldset label {
    position: relative;
    bottom: 5px;
}

#filter-city {
    width: 150px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

header {
    width: 100%;
    background: black;
}

.site-title {
    display: block;
    position: absolute;
    top: 35px;
    left: 170px;
    font-size: 60pt;
}

.site-title a {
    color: white;
    text-decoration: none;
    font-family: Roboto Slab;
    font-weight: normal;
}

.site-title a:hover {
    cursor: pointer;
}


input {
    border: solid 1px #ccc;
    border-radius: 3px;
    height: 20px;
}

aside>h2 {
    padding: 10px;
    width: 90%;
}

.filter-input-container {
    padding: 10px;
    width: 90%;
}

#filter-text {
    width: ;
}

#filter-min-price, #filter-max-price {
    postition: inline;
    width: 72px;
}

#results {
    display: inline-block;
    /* background: blue; */
    position: absolute;
}

aside {
    background: #eee;
    width: 220px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
}
